
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    gap: 25px;
}
img{
    width: 12vw;
    height: 25vh;
}
.each-container{
    width: 20vw;
    text-wrap: nowrap;
     overflow: hidden; 
    margin: 5% , 0;
    padding: 0, 10px;
    padding-bottom: 8%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 1) ;
}